<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Animal Encontrados</title>
</head>
<body>
	<h1>Cadastro de Animal Encontrados</h1>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="nome">Nome do Animal:</label>
		<input type="text" id="nome" name="nome" required><br><br>
		<label for="especie">Espécie:</label>
		<input type="text" id="especie" name="especie" required><br><br>
		<label for="raca">Raça:</label>
		<input type="text" id="raca" name="raca" required><br><br>
		<label for="cor">Cor:</label>
		<input type="text" id="cor" name="cor" required><br><br>
		<label for="descricao">Descrição:</label>
		<textarea id="descricao" name="descricao" rows="5" cols="40" required></textarea><br><br>
		<label for="foto">Foto:</label>
		<input type="file" id="foto" name="foto"><br><br>
		<label for="data_encontrado">Data em que foi encontrado:</label>
		<input type="date" id="data_encontrado" name="data_encontrado" required><br><br>
		<label for="local_encontrado">Local onde foi encontrado:</label>
		<input type="text" id="local_encontrado" name="local_encontrado" required><br><br>
		<label for="nome_encontrou">Seu Nome:</label>
		<input type="text" id="nome_encontrou" name="nome_encontrou" required><br><br>
		<label for="tel_encontrou">Seu Telefone:</label>
		<input type="text" id="tel_encontrou" name="tel_encontrou" required><br><br>
		<button type="submit">Salvar</button>
		<a href="http://127.0.0.1:8000/"><button type="button">Voltar</button></a>
		{% if error %}
		<p style="color:red">{{ error }}</p>
	  {% endif %}
	</form>
</body>
</html>

